.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.container canvas {
  width: 100%;
  object-fit: cover;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.container video {
  width: 100%;
  object-fit: fill;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}