.AuthWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.FormContainer {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 60%;
    margin-left: 35%;
    margin-top: 12%;

}

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 4rem;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    flex: 1;
}

.StyledInputLabel {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.StyledInput {
    border-radius: var(--border-radius);
    height: 44px;
    width: 100%;
    margin-bottom: 14px;
    margin-top: 2px;
    padding: 0 15px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ForgotPassword {
    color: var(--primary)
}

.LoginButton {
    color: var(--light);
    background: var(--primary);
    border: 1px solid ;
    border-radius: var(--border-radius);
    padding: 14px 0 14px 0;
}

.StyledFormFooter {
    text-align: center;  
}

.a {
    text-decoration: underline;
    margin-left: 0.5rem;
    color: #4e7a99;
  }